.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.add{
    margin-top: 60px;
    border: solid;
    padding: 10%;
}
.toolbar{
    margin-top: 60px;
    margin-bottom: 60px;
}